.phxBoldIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.sideNavItem {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.lihomeIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.home {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 20px;
  font-weight: 500;
  font-family: var(--font-lexend-deca);
  color: var(--color-black);
  text-align: left;
}
.navItemhomeMobile {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-base);
  background-color: var(--color-white);
  border-radius: var(--br-base);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.mysteryIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.aboutUs {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 20px;
  font-weight: 500;
  font-family: var(--font-lexend-deca);
  color: var(--color-black);
  text-align: left;
}
.navItemhomeMobile1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-smi) var(--padding-5xs)
    var(--padding-base);
  background-color: var(--color-white);
  border-radius: var(--br-base);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.outlinedIcon {
  height: 24px;
  width: 24px;
  position: relative;
  object-fit: cover;
}
.courses {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 20px;
  font-weight: 500;
  font-family: var(--font-lexend-deca);
  color: var(--color-black);
  text-align: left;
}
.navItemcoursesMobile {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-base);
  background-color: var(--color-white);
  border-radius: var(--br-base);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.mdilocationRadiusIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.location {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 20px;
  font-weight: 500;
  font-family: var(--font-lexend-deca);
  color: var(--color-black);
  text-align: left;
}
.navItemlocatingMobile {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-base);
  background-color: var(--color-white);
  border-radius: var(--br-base);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.forYouIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.contacts {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 20px;
  font-weight: 500;
  font-family: var(--font-lexend-deca);
  color: var(--color-black);
  text-align: left;
}
.navItemcontactsMobile {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-base);
  background-color: var(--color-white);
  border-radius: var(--br-base);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.uilcommentAltNotesIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.feedback {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 20px;
  font-weight: 500;
  font-family: var(--font-lexend-deca);
  color: var(--color-black);
  text-align: left;
}
.navItemfeedbackMobile,
.sideNav {
  border-radius: var(--br-base);
  background-color: var(--color-white);
  display: flex;
  justify-content: flex-start;
}
.navItemfeedbackMobile {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-base);
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xs);
}
.sideNav {
  width: 281px;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  padding: 35px var(--padding-21xl) 69px 42px;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
}
